@use "@styleVariables" as *;

.intro-perks-section-background {
	position: absolute;
  top: 0;
	left: 0;
	width: 15%;
	height: 100vh;
	background-color: rgb(255, 221, 28);
	clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);

	@include mobile {
		top: 0;
		width: 40%;
	}
}
	
.intro-profile-section-background-front {
  position: absolute;
  top: 0;
  left: -20%;
  width: 15%;
  height: 100vh;
  background-color: blue;
	clip-path: polygon(0 0, 100% 0, 66% 100%, 0 100%);

  @include tablet {
    width: 30%;
  }

  @include mobile {
    width: 45%;
  }
}

.intro-profile-section-background-back {
  position: absolute;
  top: 0;
  left: -20%;
  width: 12%;
  height: 100vh;
  background-color: rgb(24, 24, 177);
  clip-path: polygon(0 0, 30% 0, 54% 100%, 0% 100%);

  @include tablet {
    width: 30%;
  }

  @include mobile {
    width: 30%;
  }
}
