@use "../variables.scss" as *;

.info-info-background-front {
  position: absolute;
  left: -20%;
  width: 10%;
  height: 100vh;
  background-color: blue;
  clip-path: polygon(0 0, 100% 0, 40% 100%, 0% 100%);

  @include tabletLandscape {

  }
  
  @include tablet {
    width: 20%;
  }

  @include mobile {
    width: 30%;
    left: -100%;
  }
}

.info-info-background-back {
  position: absolute;
  left: -20%;
  width: 12%;
  height: 100vh;
  background-color: rgb(24, 24, 177);
  clip-path: polygon(0 0, 54% 0, 100% 100%, 0% 100%);

  @include tabletLandscape {
    
  }

  @include tablet {
    width: 30%;
  }

  @include mobile {
    width: 30%;
  }
}

.info-intro-background {
  position: absolute;
  
	left: 0;
	width: 15%;
	height: 100vh;
	background-color: rgb(255, 221, 28);
	clip-path: polygon(0 0, 70% 0, 40% 100%, 0% 100%);

	@include mobile {
		width: 40%;
	}
}


.info-work-background-back {
  position: absolute;
  right: -20%;
  width: 15%;
  height: 100vh;
  background-color: rgb(134, 12, 12);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 61% 100%);
  z-index: 1;
  
  transition: 
    .5s all .0s;

  &.active {
    width: 25%;

    transition: 
      .4s all;
  }

  @include tabletLandscape {
    
  }

  @include tablet {
    width: 30%;
    right: -30% ;
  }

  @include mobile {
    width: 30%;
    right: -40%;
  }
}

.info-work-background-front{
  position: absolute;
  right: -20%;
  width: 18.45%;
  height: 100vh;
  background-color: $red;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
  z-index: 2;

  transition: 
    .4s all 0s;

  &.active {
    width: 33.85%;

    transition:
      .5s all .2s;
  }



  @include tabletLandscape {
    
  }

  @include tablet {
    right: -30% ;
    width: 30%;
  }

  @include mobile {
    width: 30%;
    right: -40%;
  }
}