
@use "../../style/variables.scss" as *;

.description-grid {
  @include rotate(0, -10, 0);
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
  overflow: hidden;
  z-index: 0;

  transition: 
		all 1s ease-in-out,
    z-index 0s 1.5s;

	&:not(.clicked) {
		.div1, .div2, .div3, .div4 {
			animation: dropOut .7s forwards;
		}

		@for $i from 1 through 4 {
			.div#{$i} {
				animation-delay: #{(4 - $i) * 0.3}s;
			}
		}
	}

	&.clicked {
    @include rotate(0, 0, 0);
		opacity: 1;
    z-index: 1;

    transition: all 1s ease-in-out,
      z-index 0s 0s;

		.div1, .div2, .div3, .div4 {
			animation: dropIn 1.2s forwards;
		}

		@for $i from 1 through 4 {
			.div#{$i} {
				animation-delay: #{($i - 1) * 0.3}s;
			}
		}
	}

  &.mobileImage {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.div1, .div2, .div3, .div4 {
  position: relative;
  top: 0;
	border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  &.clicked {
    top: -300%;

    &.open {
      width: 30%;
      height: 30%;
    }
  }

  &.mobileImage {
    background-size: contain;
  }
}

.div1 { 
  grid-area: 4 / 1 / 6 / 3; 
  margin-bottom: 1rem; 
  margin-top: .5rem;
  margin-left: 1rem;
  margin-right: 0.5rem;

  &.mobileImage {
    grid-area: 2 / 2 / 6 / 3;
  }
}

.div2 { 
  grid-area: 4 / 3 / 6 / 6; 
  margin-bottom: 1rem; 
  margin-top: .5rem;
  margin-left: .5rem;
  margin-right: 1rem;

  &.mobileImage {
    grid-area: 2 / 4 / 6 / 5;
  }
}

.div3 { 
  grid-area: 1 / 1 / 4 / 4;  
  margin-top: 1rem; 
  margin-bottom: .5rem;
  margin-left: 1rem;
  margin-right: 0.5rem;

  &.mobileImage {
    grid-area: 2 / 1 / 6 / 2;
  }
}

.div4 { 
  grid-area:  1 / 4 / 4 / 6;  
  margin-top: 1rem; 
  margin-bottom: .5rem;
  margin-left: .5rem;
  margin-right: 1rem;

  &.mobileImage {
    grid-area: 2 / 3 / 6 / 4;
  }
}
