@use "../../style/variables.scss" as *;



.description-container {
  position: absolute;
  top: 5%;
  right: -50%;
  width: 40%;
  height: 40%;
	transform: translate(0,0);
  z-index: 5;
  perspective: 1000px;
  font-family: Exo;
  cursor: pointer;
  @include animationPopOut;

  transition:
    all 1s ease-in-out;

  &.active {
    right: -25%;

    transition:
      all 1s ease-in-out;

    &:hover {
      right: 5%;
    }
  }

  &.clicked {
  @include animationPopIn;
  }
}

.container {
  @include rotate(0, -10, 0);
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: #242424;
  filter: drop-shadow(0px 0px 30px rgb(121, 121, 121));
  
	transition:
		all 1s ease-in-out;

  &.clicked {
    @include rotate(0, 0, 0);
    
    transition:
      all 1s ease-in-out;
  }
}

.description {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 0;
  left: -100%;
  text-align: center;
  opacity: 0;
  font-size: 2rem;
  margin: 1rem;

  transition:
    all .6s ease-in-out;

  .description-container:hover & {
    left: 0;
    opacity: 1;

    transition:
      all .6s ease-in-out .2s;
  }

	&.clicked {
		left: 0;
		opacity: 1;

		transition:
			all .6s ease-in-out .2s;
	}
	
}

.info {
  @include absoluteCenter(50%, 20%);
  text-align: center;
  animation: flashing 3s infinite;

  opacity: 1;
  font-size: 3rem;

  transition:
    all .6s ease-in-out;

  .description-container:hover & {
    @include absoluteCenter(50%, -20%);
    opacity: 0;
  }

	&.clicked {
		@include absoluteCenter(50%, -20%);
		opacity: 0;
	}

  @include largeDesktop() {
    font-size: 4rem;
  }
}

.wrapper {
  @extend .center;
  @include rotate(10,-10,0);
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 20%;
  height: 10%;
  margin: 1rem;
  background-color: rgba(85, 85, 85, 0.39);
  background-color: rgb(240, 86, 86);
  border-radius: 30px;
  overflow: hidden;
}

.bg {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
    background-color: rgb(83, 252, 83);
    border-radius: 20px;

  transition:
    1.5s ease all;

  &.clicked {
    left: 0;
  }
}


.more-content {
  position: relative;
  top: -15%;
  left: -45%;
  width: 25%;
  height: 100%;
  transform: translateX(50%);
  margin: 1rem 0;
  font-size: 2rem;

    transition: 
      all 1.5s ease;
      transform: .3s ease-out .8s;

    &.clicked {
      left: 40%;
      transform: translateX(-50%);
    }
}

.text {
  font-size: 2rem;

  &::before {
    content: "";
    height: .2em;
    width: 1.2em;
    border-radius: 3px;
    background: white;
    
    position: absolute;
    top: .6em;
    left: .25em;
    transform: rotate(-45deg);
    
    transition:
      background-color 1s ease-in-out,
      transform .9s ease-in-out, 
      width .9s ease-in-out, 
      top .9s ease-in-out, 
      left .9s ease-in-out;
  }

  &::after {
    content: "";
    height: .2em;
    width: 1.2em;
    border-radius: 3px;
    background: white;

    position: absolute;
    top: .6em;
    left: .25em;
    transform: rotate(45deg);
    
    transition:
      background-color 1s ease-in-out,
      transform .9s ease-in-out;    
  }

  &.clicked {
    &::before {
      transform: rotate(45deg);
      width: .7em;
      top: .85em;
      left: 0; 
    }
    &::after {
      transform: rotate(-55deg);
    }
  }
}


