@use "../variables.scss" as *;


.projects-container {
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
  user-select: none;
}

.carousel-container {
  @include absoluteCenter(50%, 50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  z-index: 10;
  overflow: hidden;
  background-color: #181818;
  
  transition: 
    z-index 0s ease .75s;

  &.active {
    z-index: 0;
    
    transition: z-index 0s ease 0s;
  }
}

.carousel {
  position: relative;
  width: 280px;
  height: 400px;
  scale: .8;
  transform-style: preserve-3d;
  cursor: grab;

  transition: 
    transform 0.5s ease-out;
  
  &:active {
    cursor: grabbing;
  }
  
  &.active {
    pointer-events: none;
  }
}

$projectWidth: 21rem;
$projectHeight: 23rem;

.carousel-item {
  position: absolute;
  width: $projectWidth;
  height: $projectHeight;
  left: 50%;
  margin-left: calc($projectWidth / -2);
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  backface-visibility: visible;
  transform-style: preserve-3d;
  cursor: default;
  opacity: 1;

  transition: 
    transform 0.5s ease-out,
    opacity  0s 0s ease,
    filter 0.3s ease;

  &.active {
    opacity: 0;
    
    transition: 
      all 0s .75s;

      &>.p-name {
        left: -100vw;
      }
  }

  &>.p-name {
    @include outline(black);
    position: absolute;
    top: -20%;
    left: 0;
    width: fit-content;
    height: fit-content;
    transform: translateY(-45px) translateZ(60px);
    text-wrap: nowrap;
    text-align: left;
    color: $red;
    font-size: 3rem;
    cursor: default;
    filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0));
    opacity: 0;

    transition: 
      opacity .4s,
      transform .8s,
      left .9s;
  }

  &>.year {
    @include outline(black);
    position: absolute;
    left: 5%;
    top: 102%;
    font-size: 2rem;
    opacity: 0;
    transform: translateY(40px) translateZ(50px);
    
    transition: 
      opacity 0.4s ease .5s,
      transform 0.4s ease .5s;
  }

  & .wip {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: absolute;
    top: 102%;
    left: 5%;
    font-size: 1.8rem;
    opacity: 0;
    transform: translateX(-20px) translateZ(50px);

    transition: 
      opacity 0.4s ease,
      transform 0.4s ease,
      gap 1s ease;

    &.active {
      gap: .5rem;
    }
  }

  &.current {
    cursor: pointer;
    filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.2));
    
    transition: 
      all 1s;

    &>.p-name {
      opacity: 1;
      transform: translateY(0);
      
    }
    
    &>.year {
      opacity: 1;
      transform: translateX(0);
    }
    
    & .wip {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &>p {
    margin: 0.5rem 0;
    color: white;
    font-size: 1.5rem;
    font-family: Exo;
  }

  &>span {
    bottom: 5%;
    font-size: 2.5rem;
    font-family: Exo;
    line-height: 1.2;

    &>span:nth-child(2) {
      text-align: start;
      line-height: .8;
      font-size: 1rem;
      font-family: Mono;
    }
  }

  &>.project-image {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    pointer-events: none;

    .active {
      opacity: 0;
    }
  }

  &>.project-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    border-radius: inherit;
    clip-path: inherit;
    opacity: 0.85;
    transform: rotateY(180deg) translateZ(1px);
    backface-visibility: hidden;
    pointer-events: none;
  }
}

.carousel-item > .project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  z-index: 0;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);

  transition: 
    scale 0.15s ease-in-out;
    
  &:hover {
    scale: 1.05;
  }
}

.project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: 0;

  &.current {
    filter: drop-shadow(0px 0px 60px rgba(255, 255, 255, 0.295));
    
    transition:
      .3s .0s all;
  }

  &.transitioning {
    filter: drop-shadow(0px 0px 00px rgba(255, 255, 255, 0.295));

    transition:
    .05s all
  }

  &.active {
    opacity: 0;

    transition: 
      opacity 0s 0s;
  }
}

.project-name-container {
  position: absolute;
  top: -5%;
  left: -100%;
  width: 50%;
  height: fit-content;
  margin: 4.5% 10%;
  line-height: 5rem;
  z-index: 15;
  perspective: 1000px;
  cursor: pointer;

  transition: 
    all 1s ease;

  &.active {
    left: 0%;
  }

  .project-name {
    @include rotate(5, 20, 0);
    @include rotate(0, 30, 0);
    @include outline(white);
    color: $red;
    font-size: 5rem;
    font-family: Wosker;
  }
}