@use "../variables.scss" as *;

.work-work-background-back {
  position: absolute;
  right: -200%;
  width: 15%;
  height: 100vh;
  background-color: rgb(134, 12, 12);
  clip-path: polygon(61% 0, 100% 0, 100% 100%, 0 100%);

  transition:
    .5s all 0s;

  &.active {
    width: 25%;

    transition:
      .4s all;
  }

  z-index: 1;
  
  @include tabletLandscape {
    
  }

  @include mobile {
    width: 30%;
  }

  @include tablet {
    width: 30%;
    right: -30%;
  }
}

.work-work-background-front {
  position: absolute;
  right: -200%;
  width: 12%;
  height: 100vh;
  background-color: $red;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
  z-index: 2;

  transition:
    .4s all 0s;

  &.active {
    width: 22%;

    transition:
      .5s all .2s;
  }

  @include tabletLandscape {
    
  }

  @include mobile {
    width: 19.5%;
    right: -40%;
  }

  @include tablet {
    width: 19.5%;
    right: -30%;
  }
}

.work-info-background-front {
  position: absolute;
  left: 0%;
  width: 9.8%;
  height: 100vh;
  background-color: blue;
  clip-path: polygon(0 0, 40% 0, 0 100%, 0 100%);

  @include tabletLandscape {
    
  }

  @include tablet {
    width: 19.5%;
    left: 50%;
  }

  @include mobile {
    width: 28.5%;
  }
}

.work-info-background-back {
  position: absolute;
  left: 0%;
  width: 22.2%;
  height: 100vh;
  background-color: rgb(24, 24, 177);
  clip-path: polygon(0 0, 54% 0, 85% 100%, 0% 100%);

  @include tabletLandscape {
    
  }

  @include tablet {
    width: 55.5%;
    left: 50%;
  }

  @include mobile {
    width: 55.5%;
  }
}