@use "../variables.scss" as *;

.container {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	// z-index: 1;
	overflow-x: hidden;
}

.name-container {
	@extend .disable-selection;
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 18%;
	width: fit-content;
	top: 50%;
	transform: translateY(-50%);
	color: $purple !important;
	font-family: Wosker;
	perspective: 1000px;
	font-size: 20rem;
	gap: 0rem;
	margin: 0;
	pointer-events: none;
	overscroll-behavior: none;
	touch-action: none;


	@include mobile {
		left: -.5rem;
		top: 10%;
		transform: translateY(0);
		width: 100%;
		font-size: 4.8rem;
		z-index: 3;
	}
	
	@include tablet {
		top: 5%;
		right: 15%;
		transform: translateY(0);
		font-size: 9rem;
	}
	
	@include tabletLandscape {
		right: 5%;
		font-size: 10rem;
	}
		
	@include smallDesktop {
		right: 7%;
		font-size: 14rem;
	}

	@include largeDesktop {
		top: 47%;
		right: 22%;
		font-size: 23rem;
	}
}

.first-name {
	@include rotate(-22, -30, -12);
	display: flex;
	position: relative;
	align-items: center;
	height: 15rem;
	
	@include mobile {
		height: 3.5rem;
		margin: 0 1rem;
		margin-bottom: 1rem;
	}

	@include tablet {
		height: fit-content
	}

	@include tabletLandscape {
		height: fit-content
	}

	@include largeDesktop {
		height: fit-content
	}
}

.last-name {
	@include rotate(-22, -30, -12);
	display: flex;
	align-items: center;
	height: 15rem;

	@include mobile {
		height: 3.5rem;
		margin: 0 1rem;
	}

	@include tablet {
		height: fit-content
	}

	@include tabletLandscape {
		height: fit-content
	}
}

.letter {
	@include threeDElement(20);
	filter: drop-shadow(0px 0px .1rem #ffffff) !important;
	margin: 0;
	padding: 0;
	line-height: 1;
	pointer-events: auto;
	
	transition:
		color .6s ease;

	&:hover {
		color: rgb(255, 221, 28) !important;
	}

	@include mobile {
		@include threeDElement(5);
		filter:  none;
	}

}

.name-underline {
	@include rotate(-22, -30, -12);
	position: absolute;
	bottom: -10%;
	width: 100%;
	height: 2rem;
	background-color: $yellow !important;
	clip-path: polygon(0 90%, 100% 0, 100% 100%, 0 100%);

	@include mobile {
		visibility: hidden;
		@include rotate(-10, -140, -8);
		bottom: -30%;
		height: 1rem;
		scale: .7;
		right: -8rem;
	}
}
