@use "../variables.scss" as *;


.container {
  @extend .center;
	position: relative;
  height: 100vh;
  width: 20rem;
  color: black;
	overflow: visible;
	z-index: 3;

	@include allTablets {
		width: 30rem;
	}
	
	@include mobile {
		height: 100vh;
		width: 100vw;
	}
}

.skills-container {
	position: absolute;
	left: -15%;
	display: flex;
	perspective: 1000px;
	scale: .85;

	@include largeDesktop {
		scale: 1;
		left: 0;
	}

	@include mobile {
		position: absolute;
		height: 60%;
		top: 30%;
		width: 100%;
	}

	@include allTablets {
		position: relative;
		top: -5%;
		left: -20%;
		width: 65%;
	}
	
	@include tablet {
		top: 10%;
	}

}

.skills-line-container {
	perspective: 1000px;
}

.skills-line {
	@include rotate(0, -40, 0);
	position: absolute;
	height: 100%;
	width: 2rem;
	margin: 0 2rem;
	background-color: $blacktrans;
	border: solid 4px $purple;

	@include mobile {
		display: flex;
		transform: translateY(50%) rotateY(-40deg);
		left: 0;
		height: 50%;
		transform-origin: center center;
		margin: 0 .5rem;

		transition:
			height .4s ease-in-out,
			transform .4s ease-in-out .1s,
			border .4s ease-in-out;
	}
}


.skills-container:has(.skill.open) .skills-line {
  @include mobile {
    transform: translateY(50%) rotateY(40deg) scaleY(2);
	border-top: solid 2px $purple;
	border-bottom: solid 2px $purple;

    transition:
      transform .4s ease-in-out;
  }
}

.options-container {
	display: inherit;
	gap: 1rem;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	height: 95%;
	perspective: 1000px;

	@include mobile {
		position: relative;
		right: -10%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

.skill {
	@include rotate(0, 30, -2);
	@include flex(start, start);
	position: relative;
	width: 120%;
	height: 3rem;

	background-color: $blacktrans;
	color: white;
	margin: 1rem 4.5rem;
	border-radius: 3px;
	border-bottom: 3px solid $purple;
	border-right: 3px solid $purple;
	padding-inline-start: 1rem;
	padding-block-start: .5rem;
	font-size: 2rem;
	font-family: "Mono";
	filter: drop-shadow(5px 5px 10px #9b75f580);

	transition:
		height 0.2s ease-in-out 0s,  
		width 0.2s ease-in-out 0.22s,
		border-color .4s ease-in-out,
		filter .4s ease-in-out;

	@for $index from 1 through 10 {
		&:nth-last-child(#{$index}) {
			z-index: #{1 + ($index)};
		}
	}

	@include allDesktops {
		&:hover {
			width: 140%;
			height: 10.5rem;
			border-color: $yellow;
			filter: drop-shadow(5px 5px 10px #f5e67580);

			transition:
				width 0.2s ease-in-out 0s,      
				height 0.2s ease-in-out 0.22s,   
				border-color .4s ease-in-out,
				filter .4s ease-in-out;
		}

		&:hover .skill-option {
			left: -3%;

			@for $delay from 1 through 10 {
				&:nth-child(#{$delay}) {
					transition: 
						left .4s ease-in-out #{0.05s + ($delay * 0.07s)};
				}
			}
		}

		&:hover .skill-options-container {
			left: 0%;

			transition:
				left 0s ease 0s;
		}
	}

	@include allTablets {
		&.open {
			width: 140%;
			height: 11.5rem;
			border-color: $yellow;
			filter: drop-shadow(5px 5px 10px #f5e67580);

			transition:
				width 0.2s ease-in-out 0s,      
				height 0.2s ease-in-out 0.22s,   
				border-color .4s ease-in-out,
				filter .4s ease-in-out;
		}

		&.open .skill-option {
			left: -3%;

			@for $delay from 1 through 10 {
				&:nth-child(#{$delay}) {
					transition: 
						left .4s ease-in-out #{0.05s + ($delay * 0.07s)};
				}
			}
		}

		&.open .skill-options-container {
			left: 0%;

			transition:
				left 0s ease 0s;
		}
	}

	@include mobile {
		position: relative;
		margin: 1rem 1rem;
		font-size: 1rem;
		width: 65%;
		height: 1.8rem;
		padding-right: .5rem;

		&.open  {
			width: 85%;
			height: 9.5rem;
			border-color: $yellow;
			filter: drop-shadow(5px 5px 10px #f5e67580);
	  }

		&.open .skill-option {
			left: -3%;

			@for $delay from 1 through 10 {
				&:nth-child(#{$delay}) {
					transition: 
						left .4s ease-in-out #{0.05s + ($delay * 0.07s)};
				}
			}
		}
		
		&.open .skill-options-container {
			left: 0;

			transition:
				left 0s ease 0s,
				right 0s ease 0s;
		}
	}
}

.skill-options-container {
	position: absolute;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	left: -100%;
	top: 3.5rem;
	width: 100%;
	height: 100%;
	gap: .5rem;
	font-family: "Cutive";
	font-size: 1.5rem;

	transition:
		left 0s ease 2s,
		right 0s ease 2s;

	@include allTablets {
		height: 30%;
	}
		
	@include mobile {
		top: 2.2rem;
		height: 30%;
		left: -100%;
		font-size: 1.1rem;
	}
}

.skill-option {
	display: flex;
	position: relative;
	left: -150%;
	right: 0;
	width: fit-content;
	height: fit-content;
	background-color: $blacktrans;
	border: solid 2.5px $yellow;
	padding-left: 1rem;
	padding-right: 1rem;
	border-bottom: none;
	border-right: none;
	border-radius: 3px;

	@for $delay from 1 through 10 {
		&:nth-last-child(#{$delay}) {
			transition: 
				left .4s ease-in-out #{0s + ($delay * 0.07s)};
		}
	}
}
