@use "../../style/variables.scss" as *;



.description-container {
  position: absolute;
  top: 5%;
  right: -50%;
  width: 40%;
  height: 40%;
	transform: translate(0,0);
  z-index: 5;
  perspective: 1000px;
  font-family: Exo;
  cursor: pointer;
  @include animationPopOut;

  transition:
    all 1s ease-in-out;

  &.active {
    right: -25%;

    transition:
      all 1s ease-in-out;

    &:hover {
      right: 5%;
    }
  }

  &.clicked {
  @include animationPopIn;
  }
}

.container {
  @include rotate(0, -10, 0);
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: #242424;
  filter: drop-shadow(0px 0px 30px rgb(121, 121, 121));
	transition:
		all 1s ease-in-out;

  &.clicked {
    @include rotate(0, 0, 0);
    transition:
      all 1s ease-in-out;
  }
}

.description {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 0;
  left: -100%;
  text-align: center;
  opacity: 0;
  font-size: 2rem;
  margin: 1rem;

  transition:
    all .6s ease-in-out;

  .description-container:hover & {
    left: 0;
    opacity: 1;

    transition:
      all .6s ease-in-out .2s;
  }

	&.clicked {
		left: 0;
		opacity: 1;

		transition:
			all .6s ease-in-out .2s;
	}
	
}

.info {
  @include absoluteCenter(50%, 20%);
  text-align: center;
  animation: flashing 3s infinite;

  opacity: 1;
  font-size: 3rem;

  transition:
    all .6s ease-in-out;

  .description-container:hover & {
    @include absoluteCenter(50%, -20%);
    opacity: 0;
  }

	&.clicked {
		@include absoluteCenter(50%, -20%);
		opacity: 0;
	}

  @include largeDesktop() {
    font-size: 4rem;
  }
}

.more-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  margin: 1rem 0;
  font-size: 2rem;
  filter: drop-shadow(0px 0px 30px rgb(0, 255, 42));

  
    transition: 
      all 1s ease;

    &::before {
        content: "V";
    }

    &::after {
        content: "X";
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: 
          opacity 0 ease;
    }

    &.clicked {
        &::before {
            opacity: 0;
            filter: drop-shadow(0px 0px 30px rgb(0, 255, 42));
        }
        &::after {
            opacity: 1;
            filter: drop-shadow(0px 0px 30px rgb(255, 0, 0));
        }
    }
}


