@use "../../style/variables.scss" as *;
@use "../../style/Work-Page/projects.scss" as *;

.copy-container {
  overflow: visible;

  &.active {
    z-index: 10;
  }
}

.project-copy {
  transform: translate(0%, 0%);
  top: .03%;
  left: 0;
  
  transition: 
    width 0.75s, 
    height 0.75s, 
    top .4s, 
    left .35s, 
    transform .3s .05s, 
    border-radius 1s, 
    z-index .5s, 
    scale .2s;

      
  &>.year {
    @include outline(black);
    position: absolute;
    left: 0%;
    top: 100%;
    font-size: 2.5rem;

    transition: 
      1s ease all;

    &.active {
      color: $red;
    }
  }

  &>.p-name {
    position: absolute;
    top: -10%;
    text-wrap: nowrap;
    color: $red;
    @include outline(white);
  }

  & .wip {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 2.2rem;

    transition: 
      1s ease all;

    &.active {
      gap: .5rem;
    }
  }
  
  &>span {
    position: absolute;
    bottom: 5%;
    line-height: 1.2;
    color: white;
    font-size: 3.5rem;
    font-family: Exo;
    opacity: 1;
    z-index: 1;
    filter: drop-shadow(0px 0px 30px black);

    &>span:nth-child(2) {
      line-height: .8;
      color: white;
      font-size: 1.3rem;
      font-family: Mono;
      text-align: start;
    }
  }

  &.active {
    width: 80%;
    top: -20%;
    height: 90%;
    transform: translate(0%, 19.5%);

    transition: 
      width 0.75s, 
      height 0.75s, 
      top .5s .1s, 
      left .35s, 
      transform .4s, 
      border-radius 1s, 
      z-index .5s, 
      scale .2s;
  }

  &>.p-name {
    position: absolute;
    transform: translateY(-0%);

    transition: 
      .4s ease opacity;

      &.active {
        opacity: 0;
      }
  }
  
  &.cursor {
    cursor: default;
  }
}

.notice {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 1rem;
  border-radius: 20px;
  backdrop-filter: blur(3px);
  filter: drop-shadow(0px 0px 30px black);
  font-family: Mono;
  opacity: 1;

	transition: 
		all 1s 1s ease;
	
  &.clicked {
		transform: translateY(20px);
		opacity: 0;

		transition: 
			all 1s ease;
	}
}


.notice-fade-enter-active,
.notice-fade-leave-active {
  transition: all 1s ease;
}

.notice-fade-enter-from,
.notice-fade-leave-to {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0s ease;
}

.notice-fade-enter-to,
.notice-fade-leave-from {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease 1s;
}

