@use "../variables.scss" as *;

$projectWidht: 22%;

.container {
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
  user-select: none;
}

.projects-container,
.copy-container {
  @extend .center;
  @include absoluteCenter(50%, 45%);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.project,
.project-copy {
  @extend .center;
  @include outline(black);
  position: relative;
  top: 100%;
  min-width: $projectWidht;
  min-height: 70%;
  width: $projectWidht;
  height: 70%;
  text-align: center;
  cursor: pointer;
}

.projects-container {
  justify-content: start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 15%;
  cursor: grab;
  scrollbar-width: none;
  background-color: #181818;
  z-index: 10;
        
  transition: 
    z-index 0s ease .75s;

  &.active {
    z-index: 0;

    transition: 
      z-index 0s ease 0s;
  }
}

.no-snap {
  scroll-snap-type: none !important;
  scroll-behavior: auto !important;
}

.project {
  flex-direction: column;
  scroll-snap-align: center;
  background-color: rgb(0, 81, 255);
  border-radius: 20px;
  z-index: 12;

  transition: 
    opacity 0s .75s;

  &>* {
    position: absolute;
    z-index: 1;
  }

  
  &>.year {
    @include outline(black);
    position: absolute;
    left: 0%;
    top: 100%;
    font-size: 2.5rem;
  }

  & .wip {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 2.2rem;

    transition: 
      1s ease all;

    &.active {
      gap: .5rem;
    }
  }

  &>.p-name {
    position: absolute;
    top: -10%;
    text-wrap: nowrap;
    color: $red;
    @include outline(white);
  }

  &>p {
    margin: 0.5rem 0;
    color: white;
    font-size: 2rem;
    font-family: Exo;
    filter: drop-shadow(0px 0px 30px black);
  }

  &>span {
    bottom: 5%;
    font-size: 3.5rem;
    font-family: Exo;
    line-height: 1.2;
    filter: drop-shadow(0px 0px 30px black);

    &>span:nth-child(2) {
      text-align: start;
      line-height: .8;
      font-size: 1.3rem;
      font-family: Mono;
    }
  }

  &.active {
    opacity: 0;
    
    transition: 
      opacity 0s 0s;
  }
}

.project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: 0;

  &.current {
    filter: drop-shadow(0px 0px 60px rgba(255, 255, 255, 0.295));
    transition: .3s .0s all
  }

  &.transitioning {
    filter: drop-shadow(0px 0px 00px rgba(255, 255, 255, 0.295));
    transition: .05s all
  }
}

.project-name-container {
  position: absolute;
  top: -5%;
  left: -100%;
  width: 50%;
  height: fit-content;
  margin: 4.5% 10%;
  line-height: 5rem;
  z-index: 15;
  perspective: 1000px;
  filter: drop-shadow(0px 0px 30px black);
  cursor: pointer;

  transition: 
    all 1s ease;

  &.active {
    left: 0%;
  }

  .project-name {
    @include rotate(5, 20, 0);
    @include rotate(0, 30, 0);
    @include outline(white);
    color: $red;
    font-size: 5rem;
    font-family: Wosker;
  }
}

.spacer,
.spacer2 {
  @extend .center;
  flex-direction: column;
  align-items: start;
  text-align: center;
  position: relative;
  min-width: 24%;
  min-height: 100%;
  font-size: 3rem;
  font-family: Mono;

  transition: 
    color 0s 1.5s;

  &.transparent {
    color: transparent;

    transition: 
      color .3s .0s;

  }
}


