@use "../../style/variables.scss" as *;
@use "../../style/Work-Page/projects.scss" as *;

.copy-container {
  @include absoluteCenter(50%, 50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: visible;
  z-index: 10;
  pointer-events: none;
  perspective: 1000px;

  transition: 
    z-index 0s ease .75s;

  &.active {
    z-index: 10;
    pointer-events: auto;
    transition: 
      z-index 0s ease 0s;
  }
}

$projectWidth: 21rem;
$projectHeight: 23rem;

.project-copy {
  position: absolute;
  display: flex;
  top: 53.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26rem;
  height: 29.5rem;
  pointer-events: none;
  opacity: 0;

  transition: 
    top .4s, 
    left .35s, 
    width 0.75s, 
    height 0.75s, 
    border-radius 1s, 
    z-index .5s, 
    transform .5s ,
    opacity 0s .75s,
    scale .2s;
    

  &.active {
    top: 10%;
    transform: translate(-10%, 0%);
    left: 10%;
    pointer-events: auto;
    width: 80%;
    height: 85%;
    opacity: 1;

    transition: 
      width 0.75s, 
      height 0.75s, 
      top .5s .1s, 
      left .35s, 
      border-radius 1s, 
      z-index .5s, 
      transform .5s,
      scale .2s;
  }

  .project-image {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
    transition: clip-path .5s ease;
  }

  &.active .project-image {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.notice {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 1rem;
  border-radius: 20px;
  backdrop-filter: blur(3px);
  filter: drop-shadow(0px 0px 30px black);
  font-family: Mono;
  opacity: 1;

	transition: 
		all 1s 1s ease;
	
  &.clicked {
		transform: translateY(20px);
		opacity: 0;

		transition: 
			all 1s ease;
	}
}


.notice-fade-enter-active,
.notice-fade-leave-active {
  transition: all 1s ease;
}

.notice-fade-enter-from,
.notice-fade-leave-to {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0s ease;
}

.notice-fade-enter-to,
.notice-fade-leave-from {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease 1s;
}

