@use "../variables.scss" as *;


.container {
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
  user-select: none;
  // Remove overflow: hidden to not clip other page content
  // overflow is handled by carousel-container instead
}

// 3D Carousel Container
.carousel-container {
  @include absoluteCenter(50%, 50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  z-index: 10;
  overflow: hidden; // Contain the 3D carousel overflow here
  background-color: #181818;
  
  transition: z-index 0s ease .75s;

  &.active {
    z-index: 0;
    transition: z-index 0s ease 0s;
  }
}

// 3D Carousel
.carousel {
  position: relative;
  width: 280px;
  height: 400px;
  scale: .8;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
  cursor: grab;
  
  &:active {
    cursor: grabbing;
  }
  
  &.active {
    pointer-events: none;
  }
}

// Carousel Item (Project Card)
$projectWidth: 21rem;
$projectHeight: 23rem;

.carousel-item {
  position: absolute;
  width: $projectWidth;
  height: $projectHeight;
  left: 0;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(135deg, rgba(0, 81, 255, 0.9), rgba(0, 40, 128, 0.9));
  backface-visibility: visible;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: 
    transform 0.5s ease-out,
    opacity 0.3s ease,
    filter 0.3s ease;
  
  &:hover {
    filter: brightness(1.1);
  }
  
  &.active {
    transition: opacity 0s 0s;
  }

  &>* {
    position: absolute;
    z-index: 1;
  }

  &>.year {
    @include outline(black);
    position: absolute;
    left: 5%;
    top: 102%;
    font-size: 2rem;
    opacity: 0;
    transform: translateY(40px) translateZ(50px);
    
    transition: 
      opacity 0.4s ease .5s,
      transform 0.4s ease .5s;
  }

  & .wip {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: absolute;
    top: 102%;
    left: 5%;
    font-size: 1.8rem;
    opacity: 0;
    transform: translateX(-20px) translateZ(50px);

    transition: 
      opacity 0.4s ease,
      transform 0.4s ease,
      gap 1s ease;

    &.active {
      gap: .5rem;
    }
  }

  &>.p-name {
    position: absolute;
    top: -20%;
    text-wrap: nowrap;
    text-align: center;
    width: fit-content;
    color: $red;
    font-size: 3rem;
    @include outline(white);
    transform: translateY(-45px) translateZ(60px);
    opacity: 0;

    transition: 
      opacity 0.4s ease .4s,
      transform 0.4s ease .4s;
  }

  // When carousel-item is current, fade and slide in the text
  &.current {
    filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.4));
    
    &>.p-name {
      opacity: 1;
      transform: translateY(0);
    }
    
    &>.year {
      opacity: 1;
      transform: translateX(0);
    }
    
    & .wip {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &>p {
    margin: 0.5rem 0;
    color: white;
    font-size: 1.5rem;
    font-family: Exo;
    filter: drop-shadow(0px 0px 30px black);
  }

  &>span {
    bottom: 5%;
    font-size: 2.5rem;
    font-family: Exo;
    line-height: 1.2;
    filter: drop-shadow(0px 0px 30px black);

    &>span:nth-child(2) {
      text-align: start;
      line-height: .8;
      font-size: 1rem;
      font-family: Mono;
    }
  }
}

.project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  z-index: 0;
}

// Keep copy-container for ProjectsCopy
.copy-container {
  @extend .center;
  @include absoluteCenter(50%, 45%);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

$projectWidht: 22%;
.project-copy {
  @extend .center;
  @include outline(black);
  position: relative;
  top: 100%;
  min-width: $projectWidht;
  min-height: 70%;
  width: $projectWidht;
  height: 70%;
  text-align: center;
  cursor: pointer;
}

.project-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: 0;

  &.current {
    filter: drop-shadow(0px 0px 60px rgba(255, 255, 255, 0.295));
    transition: .3s .0s all
  }

  &.transitioning {
    filter: drop-shadow(0px 0px 00px rgba(255, 255, 255, 0.295));
    transition: .05s all
  }
}

.project-name-container {
  position: absolute;
  top: -5%;
  left: -100%;
  width: 50%;
  height: fit-content;
  margin: 4.5% 10%;
  line-height: 5rem;
  z-index: 15;
  perspective: 1000px;
  filter: drop-shadow(0px 0px 30px black);
  cursor: pointer;

  transition: 
    all 1s ease;

  &.active {
    left: 0%;
  }

  .project-name {
    @include rotate(5, 20, 0);
    @include rotate(0, 30, 0);
    @include outline(white);
    color: $red;
    font-size: 5rem;
    font-family: Wosker;
  }
}

.spacer,
.spacer2 {
  @extend .center;
  flex-direction: column;
  align-items: start;
  text-align: center;
  position: relative;
  min-width: 24%;
  min-height: 100%;
  font-size: 3rem;
  font-family: Mono;

  transition: 
    color 0s 1.5s;

  &.transparent {
    color: transparent;

    transition: 
      color .3s .0s;

  }
}


