@use "../style/variables.scss" as *;

.container {
  @extend .center;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(206, 48, 48, 0.252);
  overflow-x: hidden;

  @include mobile {
    width: 100%;
  }

  .backgroundInfoTop {
    position: absolute;
    top: 0;
    left: -100%;
    width: 10%;
    height: 100%;
    background-color: blue;
    clip-path: polygon(0 0, 100% 0, 40% 100%, 0% 100%);
  }

  .backgroundInfoBottom {
    position: absolute;
    top: 0;
    left: -100%;
    width: 12%;
    height: 100%;
    background-color: rgb(24, 24, 177);
    clip-path: polygon(0 0, 54% 0, 100% 100%, 0% 100%);
  }
  
}
