$purple: #7e55dd;
$black: rgb(65, 65, 65);

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate-right {
    transform: rotateY(35deg);
}


@mixin rotate($angleX, $angleY, $angleZ ) {
    transform: rotateX(#{$angleX}deg) rotateY(#{$angleY}deg) rotateZ(#{$angleZ}deg);
}
