@font-face { font-family: "Wosker"; src: url('../assets/fonts/Wosker.otf') format('opentype'); }
@font-face { font-family: "DT"; src: url('../assets/fonts/DTGetaiGroteskDisplay-Black.ttf');}
@font-face { font-family: "Vague"; src: url('../assets/fonts/nouvelle_vague_final.ttf') format('truetype'); }
@font-face { font-family: "Mono"; src: url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype'); }
@font-face { font-family: "Cutive"; src: url('../assets/fonts/CutiveMono.ttf') format('truetype'); }
@font-face { font-family: "Think"; src: url('../assets/fonts/Think.ttf') format('truetype'); }
@font-face { font-family: "Starlight"; src: url('../assets/fonts/Starlight\ demo.ttf') format('truetype'); }
@font-face { font-family: "Audiowide"; src: url('../assets/fonts/Audiowide-Regular.ttf') format('truetype'); }
@font-face { font-family: "Exo"; src: url('../assets/fonts/Exo2-Black.ttf') format('truetype'); }

// Variables -------------------------------------------------------------------------


$mobile: 435px; //360px
$tablet: 840px; //1200px
$tabletLandscape: 1200px; //1200px
$small-desktop: 1600px;
$large-desktop: 2140px;

$purple: #7e55dd;
$black: #414141;
$black2: #525252;
$blacktrans: #222222d8;
$lightblacktrans: #303030d8;
$yellow: rgb(255, 221, 28);
$red: #DC143C;
$backgroundTransitionTime: 0.3s;


// Media Queries -------------------------------------------------------------------------


@mixin allTablets {
  @media screen and (min-width: #{$mobile}) and (max-width: #{$tabletLandscape}) {
    @content;
  }}

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$mobile}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin tabletLandscape {
  @media screen and (min-width: #{$tablet}) and (max-width: #{$tabletLandscape}) {
    @content;
  }
}

@mixin allMobileDevices {
  @media screen and (min-width: 0px) and (max-width: #{$tabletLandscape}) {
    @content;
  }
}


@mixin smallDesktop {
  @media screen and (min-width: #{$tabletLandscape}) and (max-width: #{$small-desktop}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$small-desktop}) {
    @content;
  }
}

@mixin largeDesktop {
  @media screen and (min-width: #{$large-desktop}) {
    @content;
  }
}

@mixin allDesktops {
  @media screen and (min-width: #{$tabletLandscape}) {
    @content;
  }
}


// Extends -------------------------------------------------------------------------


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.disable-selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.animation-pop {
    animation: pop 0.2s forwards;
}


// Methods -------------------------------------------------------------------------

@mixin outline($color) {
  text-shadow: -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color, 1px 1px 0 $color;

}

@mixin rotate($angleX, $angleY, $angleZ ) {
  transform: rotateX(#{$angleX}deg) rotateY(#{$angleY}deg) rotateZ(#{$angleZ}deg);
}

@mixin threeDElement($depth: 25, $color: $purple) {
  $shadows: ();

  @for $i from 1 through $depth {
    $darkness: if($i <= 5, $i * 10%, 50%);
    $shadow: #{$i}px #{-$i}px 0 darken($color, $darkness);
    $shadows: append($shadows, $shadow, comma);
  }
  
  text-shadow: $shadows;
}

@mixin absoluteCenter($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin flex($string1: center, $string2: center) {
  display: flex;
  justify-content: $string1;
  align-items: $string2;
}



@mixin animationPopIn($duration: 0.2s) {
    animation: popIn $duration forwards;
}

@mixin animationPopOut($duration: 0.2s) {
    animation: popOut $duration forwards;
}


// Keyframes ------------------------------------------------------------

@keyframes flashing {
  0% { filter: drop-shadow(0px 0px 30px yellow)}
  50% { filter: drop-shadow(0px 0px 100px yellow)}
  100% { filter: drop-shadow(0px 0px 30px yellow)}
}

@keyframes dropIn {
	0% { top: -300%; }
	60% { top: 5%; }
	75% { top: -2%; }
	85% { top: 1%; }
	95% { top: -0.5%; }
	100% { top: 0; }
}

@keyframes dropOut {
	0% { top: 0; }
	40% { top: 5%; }
	100% { top: -300%; }
}

@keyframes popIn {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@keyframes popOut {
  0% { transform: scale(1); }
  50% { transform: scale(.95); }
  100% { transform: scale(1); }
}

@mixin flashingCard($color, $name: 'flashing') {
  @keyframes #{$name} {
    0% { filter: drop-shadow(0px 0px 30px $color); }
    25% { filter: drop-shadow(0px 0px 100px $color); }
    100% { filter: drop-shadow(0px 0px 30px $color); }
  }
  
  @keyframes #{$name}-out {
    0% { filter: drop-shadow(0px 0px 30px $color); }
    100% { filter: drop-shadow(0px 0px 0px transparent); }
  }
  
  animation: #{$name} .7s forwards;
}