// @use "@styleVariables" as *;
// @use "../Projects Section/projects.scss" as *;

// .projects-display-container {
//   @include absoluteCenter(50%, 50%);
//   width: 100vw;
//   height: 100vh;
//   overflow: visible;
//   z-index: 10;
//   pointer-events: none;
//   user-select: none;
//   perspective: 1000px;

//   transition: 
//     z-index 0s ease .75s;

//   &.active {
//     z-index: 10;
//     pointer-events: auto;
    
//     transition: 
//       z-index 0s ease 0s;
//   }
// }

// .container {
//   @include absoluteCenter(50%, 50%);
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   perspective: 1200px;
//   overflow: hidden;
  
//   transition: 
//     z-index 0s ease .75s;

//   &.active {
//     z-index: 0;
    
//     transition: z-index 0s ease 0s;
//   }
// }

// .container2 {
//   position: relative;
//   width: 280px;
//   height: 400px;
//   scale: .8;
//   transform-style: preserve-3d;
//   cursor: grab;

//   transition: 
//     transform 0.5s ease-out;
  
//   &:active {
//     cursor: grabbing;
//   }
  
//   &.active {
//     pointer-events: none;
//   }
// }

// .carousel-project-copy {
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   top: 10%;
//   left: 50%;
//   width: 21rem;
//   height: 23rem;
//   margin-left: calc(21rem / -2);
//   border-radius: 15px;
//   backface-visibility: visible;
//   transform-style: preserve-3d;
//   cursor: default;
//   opacity: 1;
//   border: solid 3px yellow;

//   transition: 
//     transform 0.5s ease-out,
//     opacity  0s 0s ease,
//     filter 0.3s ease;

//   &.active {

//     transition: 
//       all 0s .75s;

//       &>.project-name {
//         left: -100vw;
//       }
//   }

//   &>.project-name {
//     @include outline(black);
//     position: absolute;
//     top: -20%;
//     left: 0;
//     width: fit-content;
//     height: fit-content;
//     transform: translateY(-45px) translateZ(60px);
//     text-wrap: nowrap;
//     text-align: left;
//     color: $red;
//     font-size: 3rem;
//     cursor: default;
//     filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0));
//     opacity: 0;

//     transition: 
//       opacity .4s,
//       transform .8s,
//       left .9s;
//   }

//   &>.project-year {
//     @include outline(black);
//     position: absolute;
//     left: 5%;
//     top: 102%;
//     font-size: 2rem;
//     opacity: 0;
//     transform: translateY(40px) translateZ(50px);
    
//     transition: 
//       opacity 0.4s ease .5s,
//       transform 0.4s ease .5s;
//   }

//   & .wip {
//     display: flex;
//     flex-direction: column;
//     gap: 0.8rem;
//     position: absolute;
//     top: 102%;
//     left: 5%;
//     font-size: 1.8rem;
//     opacity: 0;
//     transform: translateX(-20px) translateZ(50px);

//     transition: 
//       opacity 0.4s ease,
//       transform 0.4s ease,
//       gap 1s ease;

//     &.active {
//       gap: .5rem;
//     }
//   }

//   &.current {
//     cursor: pointer;
//     filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.2));
    
//     transition: 
//       all 1s;

//     &>.project-name {
//       opacity: 1;
//       transform: translateY(0);
      
//     }
    
//     &>.project-year {
//       opacity: 1;
//       transform: translateX(0);
//     }
    
//     & .wip {
//       opacity: 1;
//       transform: translateX(0);
//     }
//   }

//   &>.project-image {
//     transform-style: preserve-3d;
//     backface-visibility: hidden;
//     pointer-events: none;

//     .active {
//       opacity: 0;
//     }
//   }

//   &>.project-image::after {
//     content: "";
//     position: absolute;
//     inset: 0;
//     background: inherit;
//     background-color: rgba(0, 0, 0, 0.6);
//     background-blend-mode: multiply;
//     border-radius: inherit;
//     clip-path: inherit;
//     transform: rotateY(180deg) translateZ(1px);
//     backface-visibility: hidden;
//     pointer-events: none;
//   }

//   & > .project-image {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     border-radius: 15px;
//     z-index: 1;
//     opacity: 1;
//     // clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);

//     transition: 
//       scale 0.15s ease-in-out,
//       z-index 0s 0.75s,
//       opacity 0.3s ease;
      
//     &:hover {
//       scale: 1.05;
//     }

//     &.current {
//       filter: drop-shadow(0px 0px 60px rgba(255, 255, 255, 0.295));
      
//       transition:
//         .3s .0s all;
//     }

//     &.transitioning {
//       filter: drop-shadow(0px 0px 00px rgba(255, 255, 255, 0.295));

//       transition:
//       .05s all
//     }

//     &.active {
//       z-index: -1;
//       opacity: 0;

//       transition: 
//         z-index 0s 0s,
//         opacity 0s 0s;
//     }
//   }
// }


// .notice {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   z-index: 1;
//   margin: 1rem;
//   border-radius: 20px;
//   backdrop-filter: blur(3px);
//   filter: drop-shadow(0px 0px 30px black);
//   font-family: Mono;
//   opacity: 1;

// 	transition: 
// 		all 1s 1s ease;
	
//   &.clicked {
// 		transform: translateY(20px);
// 		opacity: 0;

// 		transition: 
// 			all 1s ease;
// 	}
// }


// .notice-fade-enter-active,
// .notice-fade-leave-active {
//   transition: 
//     all 1s ease;
// }

// .notice-fade-enter-from,
// .notice-fade-leave-to {
//   opacity: 0;
//   transform: translateY(-20px);
//   transition: 
//     all 1s ease;
// }

// .notice-fade-enter-to,
// .notice-fade-leave-from {
//   opacity: 1;
//   transform: translateY(0);
//   transition: 
//     all 1s ease 1s;
// }

// .project-display {
//   @include absoluteCenter(50%, 50%);
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 27rem;
//   height: 29.5rem;
//   border-radius: 15px;
//   z-index: 5;
//   opacity: 0;
//   pointer-events: none;
//   transform: scale(0.8);
  
//   transition:
//     width 0.75s ease,
//     height 0.75s ease,
//     opacity 0.3s ease,
//     transform 0.75s ease;

//   &.active {
//     width: 80%;
//     height: 85%;
//     opacity: 1;
//     pointer-events: auto;
//     transform: scale(1);
    
//     transition:
//       width 0.75s ease,
//       height 0.75s ease,
//       opacity 0.3s ease 0.2s,
//       transform 0.75s ease;
//   }

//   & > .p-name {
//     @include outline(black);
//     position: absolute;
//     top: -10%;
//     left: 5%;
//     color: $red;
//     font-size: 5rem;
//     opacity: 0;
//     transform: translateY(-20px);
    
//     transition:
//       opacity 0.4s ease,
//       transform 0.4s ease;

//     &.active {
//       opacity: 1;
//       transform: translateY(0);
      
//       transition:
//         opacity 0.4s ease 0.5s,
//         transform 0.4s ease 0.5s;
//     }
//   }

//   & > .year {
//     @include outline(black);
//     position: absolute;
//     left: 5%;
//     top: 95%;
//     font-size: 2rem;
//     opacity: 0;
    
//     transition:
//       opacity 0.4s ease;

//     &.active {
//       opacity: 1;
      
//       transition:
//         opacity 0.4s ease 0.6s;
//     }
//   }

//   & > .wip {
//     position: absolute;
//     top: 95%;
//     left: 5%;
//     font-size: 1.8rem;
//     opacity: 0;
    
//     transition:
//       opacity 0.4s ease;

//     &.active {
//       opacity: 1;
      
//       transition:
//         opacity 0.4s ease 0.6s;
//     }
//   }

//   & > .project-image {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     border-radius: 15px;
//     z-index: -1;
//   }
// }

