@use "../variables.scss" as *;


.container {
  @extend .disable-selection;
  @extend .center;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: visible;
  pointer-events: none;

  @include mobile {
    overflow: hidden;
  }
}

.cards-container {
  @extend .center;
  position: absolute;
  width: 90vh;
  height: 90vh;  
  overflow: visible;
  pointer-events: none;
  
  @include mobile {
    touch-action: pan-y;
    overscroll-behavior: auto;
  }
}

// POSITIONING GROUPS
.card1, .card3, .back-card1, .back-card3 {
  // left: 18%;
  left: -100%;

  @include mobile {
    left: 28.5%;
  }

  @include tablet {
    left: 25%;
  }

}

.card2, .card4, .back-card2, .back-card4 {
  right: 18%;
  right: -100%;

  @include mobile {
    right: 21%;
    right: 28.5%;
  }
  
  @include tablet {

  }

  @include tabletLandscape {
    
  }

}

.back-card1, .back-card2 {
  bottom: 53.5%;
  bottom: 100%;
  
  @include mobile {
    bottom: 49%;
  }

  @include tablet {

  }

  @include tabletLandscape {

  }
}

.back-card3, .back-card4 {
  bottom: 19.5%;
  bottom: 100%;
  
  @include mobile {
    bottom: 26%;
  }
  
  @include tablet {

  }

  @include tabletLandscape {
    
  }

}

.card1, .card2 {
  bottom: 39%;
  bottom: 100%;

  @include mobile {
    bottom: 39.5%;
    bottom: 109.5%;
  }
  
  @include tablet {
    bottom: 40%;
  }

  @include tabletLandscape {
    
  }

}

.card3, .card4 {
  bottom: 5%;
  bottom: -100%;
  
  @include mobile {
    bottom: 16.5%;
  }
  
  @include tablet {

  }

  @include tabletLandscape {
    
  }

}


// MODULAR MIXINS
@mixin card-base($border-color, $rotation-x: -30, $rotation-y: -50, $rotation-z: 0) {
  @extend .center;
  @include rotate($rotation-x, $rotation-y, $rotation-z);
  position: absolute;
  width: 32vh;
  height: 32vh;
  color: white;
  font-family: Mono;
  font-size: 2rem;
  opacity: 1;
  background-color: #131313be;
  border: 10px double $border-color;
  z-index: 5;
  cursor: pointer;
  pointer-events: auto;
  
  transition: 
    1s ease all, 
    z-index 2s ease;

  @include mobile {
    width: 20vh;
    height: 20vh;

    font-size: 1rem;
  }

  @include tablet {
    width: 25vh;
    height: 25vh;
  }
}

@mixin back-card-base($border-color, $bg-color, $rotation-x: -30, $rotation-y: 50, $rotation-z: 0) {
  @extend .center;
  @include rotate($rotation-x, $rotation-y, $rotation-z);
  position: absolute;
  width: 32vh;
  height: 32vh;
  color: white;
  font-family: Mono;
  font-size: 2rem;
  opacity: 1;
  background-color: $bg-color;
  border: 10px double $border-color;
  // Allow back cards to receive interactions
  pointer-events: auto;

  @include mobile {
    width: 20vh;
    height: 20vh;
  }
  
  @include tablet {
    width: 25vh;
    height: 25vh;
  }

}

@mixin card-open-state($rotation-x: -360, $side: left) {
  @include rotate($rotation-x, 0, 0);
  background-color: #131313e1;
  color: transparent;
  opacity: 1;
  scale: 2;
  visibility: visible;
  z-index: 10;
  bottom: 17.5%;
  transition: opacity 0.5s ease 1s, visibility 0s linear 1s, 1 ease all;
  
  @if $side == left {
    left: 31% !important;
    bottom: 23% !important;
  } @else {
    right: 31% !important;
    bottom: 23% !important;
  }

  @include mobile {
    scale: 1.6;

    @if $side == left {
      left: 38% !important;
      bottom: 40% !important;
    } @else {
      right: 37% !important;
      bottom: 40% !important;
    }
  }
}

// SHARED STYLES
.card-content {
  @extend .center;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  opacity: 0;
  font-size: 1rem;
  visibility: hidden;
  
  transition: opacity 0.5s ease 0s, visibility 0s linear 0s;

  &.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease .6s, visibility 0s linear .6s;
  }

  span {
    position: absolute;
    margin: 1rem;
    top: 0;
  }
}

// CARD DEFINITIONS USING MIXINS
.card1 {
  @include card-base(#3664fc, -30, -50, 0);
}

.back-card-done {
  transition: .8s ease all 0s;
}


.back-card1 {
  @include back-card-base(#3664fc, #1E40AF80, -30, 50, 0);
}

.card1-open {
  @include card-open-state(-360, left);
}

.card2 {
  @include card-base(#0bc993, -30, 50, 0);
}

.back-card2 {
  @include back-card-base(#0bc993, #04785780, -30, -50, 0);
}

.card2-open {
  @include card-open-state(-360, right);
}

.card3 {
  @include card-base(#F59E0B, -30, -50, 0);
}

.back-card3 {
  @include back-card-base(#F59E0B, #F59E0B80, -30, 50, 0);
}

.card3-open {
  @include card-open-state(360, left);
}

.card4 {
  @include card-base(#9532e6, -30, 50, 0);
}

.back-card4 {
  @include back-card-base(#9532e6, #6B21A880, -30, -50, 0);
}

.card4-open {
  @include card-open-state(360, right);
}
